.excel__toolbar {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  height: $toolbar-height;
  display: flex;
  align-items: center;
  padding: 3px;
  border-bottom: 2px solid $border-color;
  background-color: $white;
  z-index: 100;

  .excel__button {
    margin-right: 3px;
  }
}

.excel__toolbar-button {
  &:active, &-active {
    color: $green;
  }
}
