//values
$header-height: 46px;
$toolbar-height: 52px;
$formula-height: 46px;
$transition-time: 0.3s;
$info-cell-width: 60px;
$cell-width: 150px;
$row-height: 30px;
$db-header-height: 64px;

//main colors
$white: #ffffff;
$black: #000000;
$grey: #9e9e9e;
$grey-light: #cfcfcf;
$grey-dark: #707070;
$blue: #2962ff;
$green: #00c853;
$red: #e53935;


//colors
$focus-border-color: $blue;
$border-color: $grey;
