//values
$header-height: 46px;
$toolbar-height: 52px;
$transition-time: 0.3s;

//main colors
$blue: #2962ff;
$green: #00c853;
$red: #e53935;


//colors
$focus-border-color: #1a73e8;
$border-color: #c0c0c0;
